<%- include("parts/header") %>

<h1>this is my show route</h1>

<p><%= campground.name %> </p>

<img src="<%= campground.image %>" alt="">

<blockquote><%= campground.description %></blockquote>

<%- include("parts/footer") %>