<%- include("parts/header") %>

<div class="ui main text container">
    <div class="ui huge header">
        restful blog index
    </div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach(function(blog) { %>
                <div class="item">
                    <div class="image">
                        <img src="<%= blog.image %>" alt="">
                    </div>
                    <div class="content">
                        <a href="/blogs/<%= blog._id %>" class="header"><%= blog.title %></a>
                        <div class="meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%- blog.body.substring(0, 300) %>...</p>
                        </div>
                        <div class="ui floated basic violet mini button">
                            <a href="/blogs/<%= blog._id %>" class="header">
                                read more
                                <i class="right chevron small icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<%- include("parts/footer") %>