<%- include("parts/header") %>

<div class="ui main text container">
    <div class="ui huge header">
        <%= blog.title %>
    </div>
    <div class="ui top attached segment">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" alt="">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%= blog.body %></p>
            </div>
            <form>
                <div class="ui mini buttons">
                    <button class="ui basic yellow button" formaction="/blogs/<%= blog._id %>/edit">
                        edit
                    </button>
                    <div class="row"></div>
                    <button class="ui negative button" formaction="/blogs/<%= blog._id %>?_method=DELETE" formmethod="POST">
                        delete
                    </button>
                </div>
            </form>
            
        </div>
        

    </div>
    
</div>

<%- include("parts/footer") %>